/* General */
body {
	font-family: Arial, sans-serif;
}

/* Tier list */
#tier-list {
	border: 3px solid black;
	border-collapse: collapse;
	background:#1A1A1A;
}
td {
	border: 3px solid black;
	padding:0;
}
.label {
	min-width: 62px;
	max-width: 126px;
	min-height: 64px;
	text-align: center;
	padding: 2px;
	font-weight: bold;
	transition: background .3s;
}
.tier {
	font-size: 0;
	min-width: 512px;
}
.row-controls {
	font-size: 0;
	position: relative;
	padding: 0 2px 0 2px;
	background: black;
}
.row-movement {
	display: inline-block;
	height: 64px;
	width: 32px;
}
.move-up, .move-down {
	display: inline-block;
	width: 32px;
	height: 32px;
}
.move-up {
	background: url('img/chevronup.png') center no-repeat;
}
.move-down {
	background: url('img/chevrondown.png') center no-repeat;
}
.settings {
	width: 54px;
	max-width: 54px;
	height: 64px;
	max-height: 64px;
	display: inline-block;
	background: url('img/settings.png') center no-repeat;
}

/* Character images */
.character {
	display:inline-block;
	height: 64px;
	width: 64px;
	background-position: center;
	background-size: cover;
	position: relative;
	margin: 0;
	font-size: initial;
}
.char-settings {
	height: 16px;
	width: 16px;
	text-align: center;
	color: white;
	font-size: initial;
	float: right;
	margin: 2px;
	cursor: pointer;
	background: rgba(0,0,0,.9);
	background-image: url('img/add.png');
	background-position: center;
	background-size: 12px;
	background-repeat: no-repeat;
}
.char-controls {
	-moz-opacity: 0;
	opacity: 0;
	filter: 0;
	transition:opacity .5s;
	height: 64px;
	width: 64px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	filter: inherit;
	font-size: initial;
}
.char-controls:hover {
	opacity:1;
}
.left,.right,.up,.down {
	height: 16px;
	width: 16px;
	background: rgba(0,0,0,.5);
	color: white;
	text-align: center;
	display: inline-block;
	position: absolute;
	margin:2px;
	border-radius: 2px;
	cursor: pointer;
}
.left {
	left: 0;
	top: 50%;
	margin-top:-8px;
	background-image: url('img/arrowleft.png');
	background-position: center;
	background-size: 12px;
	background-repeat: no-repeat;
}
.right {
	right: 0;
	top: 50%;
	margin-top:-8px;
	background-image: url('img/arrowright.png');
	background-position: center;
	background-size: 12px;
	background-repeat: no-repeat;
}
.up {
	left: 50%;
	top: 0;
	margin-left:-8px;
	background-image: url('img/arrowup.png');
	background-position: center;
	background-size: 12px;
	background-repeat: no-repeat;
}
.down {
	left: 50%;
	bottom: 0;
	margin-left:-8px;
	background-image: url('img/arrowdown.png');
	background-position: center;
	background-size: 12px;
	background-repeat: no-repeat;
}

/* Modals */
.modal-wrap {
	opacity:0;
	visibility: hidden;
    position: fixed;
    left: 0px;
    top: 0px;
    width:100%;
    height:100% !important;
    text-align:center;
    z-index: 1000;
	background-color:rgba(0,0,0,.5);
	transition: opacity .3s;
	padding-top: 100px;
}
.modal {
	position: relative;
	width: 728px;
	margin: 0 auto;
    background-color: #fff;
    padding: 60px;
    text-align: left;
	z-index: 2000;
	display: none;
}
.modal-close {
	position: absolute;
	top: 0;
	right: 0;
	width: 16px;
	height: 16px;
	margin: 16px !important;
	background: url("img/close.png");
	opacity: .5;
	transition: opacity .3s;
	cursor: pointer;
}
.modal-close:hover {
	opacity: 1;
}
.modal h2 {
	margin-top: 0;
}
.modal div {
	margin: 5px 0 5px 0;
}

/* Individual modals */
#color-select {
	width: 720px;
	height: 40px;
	margin: 0 4px;
}

#color-select span {
	width: 48px;
	height: 40px;
	margin: 0;
	display: inline-block;
	transition: box-shadow .1s;
	cursor: pointer;
}

#color-select span.selected {
	box-shadow: inset 4px 4px red,
				inset -4px -4px red;
}