html,body{
    -webkit-user-select: none;
    -webkit-touch-callout: none;
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	text-align: center;
}

h1 {
	font-style: italic;
	font-weight: 100;
	width: 774px;
	margin: 10px auto;
	padding-right: 1px;
	text-align: left;
}

#tablewrap {
	padding: 16px;
	background-color: #1A1A1A;
}

td {
	border: solid 3px black;
	margin: 0;
	padding: 0;
	height: 64px;
}

tr {
	line-height: 0px;
}

table {
	min-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	border-spacing: 0;
	border: solid 3px black;
	background:url("new/smashballbg.png") no-repeat bottom right;
}

.labelHolder {
	width: 48px;
	height: 64px;
}

.label {
	min-width: 56px;
	line-height: 16px;
	text-align: center;
	border: none;
	font-weight: 600;
	margin: 0;
	display: inline-block;
	padding: 4px;
}

.tier {
	width: 960px;
	min-height: 64px;
	text-align: left;
}

.checkboxes {
	margin: 10px 0;
}

.tier1 {
	background-color: #ed6764;
}
.tier2 {
	background-color: #f88157;
}
.tier3 {
	background-color: #eae286;
}
.tier4 {
	background-color: #8abc6e;
}
.tier5 {
	background-color: #779fde;
}
.tier6 {
	background-color: #627ee0;
}
.tier7 {
	background-color: #c86acb;
}

#char4 {
	width: 768px;
	margin: 10px auto;
	line-height: 0px;
}

img {
	height: 64px;
}

.character {
	display:inline-block;
}