body {
	font-family: 'Roboto', sans-serif;
	text-align: center;
}

h1 {
	font-style: italic;
	font-weight: 100;
	width: 774px;
	margin: 10px auto;
	padding-right: 1px;
	text-align: left;
}

.row {
	height: 96px;
	border: solid 1px #dedede; /* the official color of smash */
	border-bottom: 0;
	text-align: left;
}

.last {
	border-bottom: solid 1px #dedede;
}

input[type="text"] {
	height: 94px;
	width: 48px;
	text-align: center;
	border: none;
	font-weight: 600;
	margin: 0;
	display: inline-block;
	vertical-align: top;
}

.tier {
	min-width: 1248px;
	height: 96px;
	display: inline-block;
}

.tierPM {
	padding-top: 20px;
}

.placeholder4 {
	height: 96px;
	width: 96px;
	background-color: #dedede;
}

.placeholderPM {
	height: 56px;
	width: 80px;
	background-color: #dedede;
}

.checkboxes {
	margin: 10px 0;
}

.tier1 {
	background-color: #ed6764;
}
.tier2 {
	background-color: #f88157;
}
.tier3 {
	background-color: #eae286;
}
.tier4 {
	background-color: #8abc6e;
}
.tier5 {
	background-color: #779fde;
}
.tier6 {
	background-color: #627ee0;
}
.tier7 {
	background-color: #c86acb;
}

#char4 {
	width: 1248px;
	margin: 10px auto;
}

#charM {
	width: 900px;
	margin: 10px auto;
}

#charPM {
	width: 756px;
	margin: 8px auto 10px auto;
	line-height: 0px;
}

#charPM img {
	margin: 2px;
}