body {
	font-family: 'Roboto', sans-serif;
	text-align: center;
}

h1 {
	font-style: italic;
	font-weight: 100;
	width: 774px;
	margin: 10px auto;
	padding-right: 1px;
	text-align: left;
}

.row {
	height: 96px;
	border: solid 1px #dedede; /* the official color of smash */
	text-align: left;
}

input {
	height: 94px;
	width: 48px;
	text-align: center;
	border: none;
	font-weight: 600;
	margin: 0;
	display: inline-block;
	vertical-align: top;
}

.tier {
	min-width: 1248px;
	height: 96px;
	display: inline-block;
}

.placeholder {
	height: 96px;
	width: 96px;
	background-color: #dedede;
}

.tier1 {
	background-color: #ed6764;
}
.tier2 {
	background-color: #f88157;
}
.tier3 {
	background-color: #eae286;
}
.tier4 {
	background-color: #8abc6e;
}
.tier5 {
	background-color: #779fde;
}
.tier6 {
	background-color: #627ee0;
}
.tier7 {
	background-color: #c86acb;
}

#char {
	width: 1248px;
	margin: 10px auto;
}